<nav class="container nav">
	<div class="nav_left">
		<a href="/">Url Shortener</a>
	</div>
	<div class="nav_right">
		<ul id="nav_menu">
			<li><a href="/">Home</a></li>
			<% if (cookie) {%>
			<li><a href="/history">History</a></li>
			<li><a href="/logout">Logout</a></li>
			<% }else{%>
			<li><a href="/login">Login</a></li>
			<% } %>
		</ul>
		<button id="burger_menu"><i class="fa-solid fa-bars"></i></button>
	</div>
</nav>
