<nav class="container nav">
	<div class="nav_left">
		<a href="/">Url Shortener</a>
	</div>
	<div class="nav_right">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/why">Why</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</nav>
