<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body>
		<div class="container error">
			<img src="http://pics.jason-fel.be/uploads/1659358967page-not-found.png" alt="404 illustration" />
		</div>
	</body>
</html>
