<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body>
		<div class="container error">
			<img src="/img/page-not-found.gif" alt="404 illustration" />
		</div>
	</body>
	<%- include('./partials/footer') %>
</html>
