<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body>
		<div class="container error">
			<img src="/img/something-went-wrong.gif" alt="500 illustration" />
		</div>
		<%- include('./partials/footer') %>
	</body>
</html>
