<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body>
		<%- include('./partials/navbar') %>
		<section class="container why">
			<h2>Why choose us?</h2>
			<div class="why_content">
				<ul>
					<li>Our service is simple and efficient</li>
					<li>Our service is 100% free</li>
					<li>With an account, you can create custom URLs, have a history of your URLs and a URL management system</li>
				</ul>
			</div>
		</section>
	</body>
</html>
