.history {
	min-height: 90vh;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	h2 {
		font-size: 2.5em;
		margin: 100px 0;
	}
	table {
		border: 3px solid $color_3;
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;
		tr {
			background: $color_4;
			border: 1px solid $color_3;
			padding: 0.35em;
		}
		th,
		td {
			padding: 0.625em;
			border: 1px solid $color_1;
			padding: 0.35em;
			color: $color_3;
			text-align: center;
			a {
				color: $color_3;
			}
		}
		th {
			font-size: 0.85em;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
	}
	@media (max-width: 1100px) {
		table {
			border: 0;
			thead {
				border: none;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
			tr {
				border-bottom: 1px solid $color_3;
				display: block;
				margin-bottom: 0.625em;
			}
			td {
				border-bottom: 1px solid $color_3;
				display: block;
				font-size: 0.85em;
				text-align: right;
				&::before {
					content: attr(data-label);
					float: left;
					font-weight: bold;
					text-transform: uppercase;
				}
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}
