.nav {
	height: 10vh;
	justify-content: space-between;
	border-bottom: 2px $color_4 solid;
	&_left {
		a {
			font-size: 2em;
			font-weight: 700;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			color: $color_4;
		}
	}
	&_right {
		ul {
			li {
				display: inline;
				margin: 0 10px;
				a {
					color: $color_4;
					font-size: 1.2em;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.3px;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		#burger_menu {
			background: none;
			border: none;
			font-size: 3em;
			color: $color_4;
			cursor: pointer;
			display: none;
		}
	}
	@media (max-width: 500px) {
		&_right {
			ul {
				position: fixed;
				top: -100%;
				left: 5%;
				width: 90%;
				background: $color_4;
				text-align: center;
				border-radius: 5px;
				li {
					display: block;
					margin: 25px 0;
					a {
						color: $color_3;
						&:hover {
							color: $color_2;
						}
					}
				}
			}
			#burger_menu {
				display: block;
			}
		}
	}
	@media (max-width: 350px) {
		&_left {
			a {
				font-size: 1.5em;
			}
		}
		&_right {
			#burger_menu {
				font-size: 2em;
			}
		}
	}
}
