.why {
	height: 90vh;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	h2 {
		font-size: 2.5em;
		margin: 100px 0;
	}
	&_content {
		margin-left: 50px;
		ul {
			li {
				list-style-type: disc;
				margin: 10px 0;
				font-size: 2em;
			}
		}
	}
	@media (max-width: 600px) {
		h2 {
			font-size: 2em;
		}
		&_content {
			ul {
				li {
					font-size: 1.5em;
				}
			}
		}
	}
	@media (max-width: 400px) {
		h2 {
			font-size: 1.5em;
		}
		&_content {
			ul {
				li {
					font-size: 1.2em;
				}
			}
		}
	}
}
